.main-video {
	width: 100%;
	height: 100%;
}

.fileUploadDialog{
	position: absolute;
}

#live{
	background-image:url('/images/btn-play-small.png');
}

#live.isLive{
	background-image:url('/images/btn-pause-small.png');
}

#localVideo{
	width: 100%;
}

.poppanel {
	position: absolute;
	width: 1000px;
	top: 0px;
	left: -850px;
	height: 720px;
	color: #ffffff;
	transition: left 1s ease;
}

.poppanel-open {
	left: 0px;
	transition: all 1s ease;
}

.poppanel-content {
	position: absolute;
	width: 850px;
	height: 100%;
	top: 0px;
	left: 0px;
	padding: 5%;
	background-color: rgba(0,0,0,0.5);
}

.poppanel-content-fakeentry {
	width: 200px;
	height: 200px;
	background-color: #000055;
}

.poppanel-tab {
	position: absolute;
	width: 150px;
	height: 150px;
	left: 850px;
	background-color: rgba(0,0,0,0.2);
}

.tab-selected {
	background-color: rgba(0,0,0,0.5);
}

.tab-icon {
	font-size: 100px;
	margin: 25px;
	opacity: 0.5;
}

.tab-index-1 {
	top: 10px;
}

.tab-index-2 {
	top: 170px;
}

.poppanel span.plabel {
	display: block;
	color: white;
	font-size: 27px;
	padding: 0 0 0 22px;
}

input{
	border: 3px solid #515151;
	height: 72px;
	font-size: 39px;
	padding: 0 0 0 21px;
	color: white;
	background: #777777;
}

.poppanel-input {
	width: 100%;
}

.poppanel-label {
	width: 100%;
}

.live-notice-container {
	position: absolute;
	top: 60px;
	right: 100px;
	font-size: 28px;
	font-weight: bolder;
	opacity: 0.7;
}

.live-notice-dot {
	display: inline-block;
	background-color: #E33C44;
	height: 20px;
	width: 20px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.live-notice-text {
	color: #E33C44;
}
