.playback-wrapper {
	height: 366px;
	width: 651px;
}

.playback-container {
	width: 651px;
	height: 366px;
	background-color: #000000;
	color: #ffffff;
	position:absolute;
}

.overlay-reporter {
	position: absolute;
	width: 50%;
	bottom: 90px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	left: 0px;
	background-color:rgba(227,60,68,0.7);
}

.overlay-headline {
	position: absolute;
	width: 65%;
	bottom: 40px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	left: 0px;
	background-color:rgba(227,60,68,0.7);
}

.overlay-tag {
	position: absolute;
	bottom: 10px;
	left:20px;
}

#videos{
	width: 640px;
}

video{
	width: 100%;
}
