@font-face {
	font-family: "Raleway";
	src: url("/viewer/font/Raleway/Raleway-Thin.otf");
}

.playback-wrapper {
	height: 366px;
	width: 100%;
	font-family: "Raleway", sans-serif;
	overflow: hidden;
}

.playback-container {
	position: relative;
	margin-left:auto;
	margin-right:auto;
	width: 651px;
	height: 366px;
	background-color: #000000;
	color: #ffffff;
}

.overlay-reporter {
	position: absolute;
	width: 50%;
	bottom: 90px;
	font-size: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	left: 0px;
	background-color:rgba(227,60,68,0.7);
}

.overlay-headline {
	position: absolute;
	width: 65%;
	bottom: 35px;
	font-size: 30px;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	left: 0px;
	background-color:rgba(227,60,68,0.7);
}

.overlay-tag {
	position: absolute;
	bottom: 10px;
	left:20px;
}

#videos{
	width: 640px;
	overflow: hidden;
}

video{
	width: 100%;
}

.live-notice-container {
	position: absolute;
	top: 30px;
	right: 50px;
	font-size: 28px;
	font-weight: bolder;
	opacity: 0.7;
}

.live-notice-dot {
	display: inline-block;
	background-color: #E33C44;
	height: 20px;
	width: 20px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.live-notice-text {
	color: #E33C44;
}

.blinking {
	animation-name: blinker;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	-webkit-animation-name: blinker;
	-webkit-animation-duration: 4s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
	0% { opacity: 0.0; }
	50% { opacity: 0.7; }
	100% { opacity: 0.0; }
}

@-webkit-keyframes blinker {  
	0% { opacity: 0.0; }
	50% { opacity: 0.7; }
	100% { opacity: 0.0; }
}

@keyframes blinker {  
	0% { opacity: 0.0; }
	50% { opacity: 0.7; }
	100% { opacity: 0.0; }
}

